@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css';
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

body {
  font-family: "Inter";
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  max-width: 428px;
}
.header .logo {
  width: 198px;
  height: 36px;
}
.header .burger {
  font-size: 24px;
  color: #999999;
  height: 22px;
}

.hero {
  padding-top: 80px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 80px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}
.hero .hero-smallTitle {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FF3998;
  font-style: normal;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 24px;
}
.hero .hero-bigTitle {
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  line-height: 58px;
  color: #111111;
  margin-top: 24px;
  margin-bottom: 24px;
}
.hero .hero-subText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #555555;
  margin-top: 0;
  margin-bottom: 32px;
}
.hero .btn {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  padding: 22px 56px 23px 56px;
  border: 3px solid rgb(243, 59, 13);
  border-radius: 40px;
  text-align: center;
  background-color: transparent;
}
.hero .hero-launching {
  margin-left: auto;
  margin-right: auto;
}
.hero .hero-launchingPhoto {
  position: absolute;
  top: 21px;
  left: 253px;
}
.hero .hero-launchingImage {
  height: 300px;
}

.free-nft {
  max-width: 428px;
  height: 326px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: url("../IMG/background.svg");
  background-size: cover;
}
.free-nft .nft-container {
  height: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.free-nft .flexas {
  padding-top: 122px;
  padding-bottom: 32px;
}
.free-nft .nft-Heading {
  font-size: 40px;
  line-height: 48px;
  color: #111111;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 12px;
}
.free-nft .nft-subText {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #111111;
  margin: 0;
}

.companies {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}
.companies .notOnmobile {
  display: none;
}
.companies .companies-group {
  display: grid;
  grid-template-columns: 182px auto;
  padding-top: 64px;
  padding-bottom: 64px;
  -webkit-column-gap: 28px;
     -moz-column-gap: 28px;
          column-gap: 28px;
  row-gap: 28px;
}
.companies .company-logo {
  width: 156px;
}

.auction .card-smallHeading {
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FF8139;
  margin-bottom: 6px;
  margin-top: 0;
}
.auction .card-bid {
  margin-top: 0;
  margin-bottom: 6px;
}
.auction .card-name {
  margin-top: 6px;
  margin-bottom: 6px;
}
.auction .card-info {
  display: grid;
  grid-template-columns: 113px 113px;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  width: 290px;
  padding: 24px;
  background: #EEEEEE;
  border-radius: 16px;
}
.auction .card-diamondPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  margin-top: 6px;
}
.auction .card-price {
  margin-top: 6px;
  margin-bottom: 6px;
}
.auction .card-number {
  margin-top: 6px;
  margin-bottom: 0;
}
.auction .card-time {
  margin-bottom: 6px;
  margin-top: 0;
}

@media screen and (min-width: 428px) {
  .hero {
    max-width: 1250px;
  }
  .hero .hero-launching {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .hero-launchingPhoto {
    position: static;
  }
}/*# sourceMappingURL=main.css.map */